GridBackground {
    --grid-background-color: rgb(40, 40, 40);
    --line-color: rgba(196, 196, 196, 0.1);
    --thick-line-color: rgba(193, 193, 193, 0.1);
    --spacing: 15;
    background-color: rgba(12, 6, 6, 0.39);
}

.unpopulated {
    background-color: rgba(180,6,6,0.39);
}

.warning {
    background-color: rgba(224, 106, 10, 0.5);
}

.populated {
    background-color: rgba(5, 160, 80, 0.39);
}